<div>
  <form (ngSubmit)="save()">
    <div class="form-group">
      <label>id:</label>
      <input
        class="form-control"
        [(ngModel)]="fournisseur.id"
        name="id"
        readonly
        placeholder="generation automatique"
      />
    </div>
    <div class="form-control">
      <label>civilite</label>
      <select
        [(ngModel)]="fournisseur.civilite"
        class="form-control"
        name="civilite"
      >
        <option value="M">monsieur</option>
        <option value="MLLE">mademoiselle</option>
        <option value="MME">madame</option>
      </select>
    </div>
    <div class="form-group">
      <label>prenom:</label>
      <input
        class="form-control"
        [(ngModel)]="fournisseur.prenom"
        required
        name="prenom"
      />
    </div>
    <div class="form-group">
      <label>nom:</label>
      <input class="form-control" [(ngModel)]="fournisseur.nom" name="nom" />
    </div>
    <div class="form-group">
      <label>date de naissance:</label>
      <input
        type="date"
        class="form-control"
        [(ngModel)]="fournisseur.dateNaissance"
        name="dateNaissance"
      />
    </div>
    <div class="form-group">
      <label>commentaire:</label>
      <textarea
        class="form-control"
        [(ngModel)]="fournisseur.commentaire"
        name="commentaire"
      ></textarea>
    </div>
    <div class="form-group">
      <label>contact:</label>
      <input
        type="email"
        class="form-control"
        [(ngModel)]="fournisseur.contact"
        name="contact"
      />
    </div>
    <div class="form-group">
      <label>numero:</label>
      <input
        type="number"
        class="form-control"
        [(ngModel)]="fournisseur.adresse.numero"
        [ngModelOptions]="{ standalone: true }"
      />
    </div>
    <div class="form-group">
      <label>rue:</label>
      <input
        class="form-control"
        [ngModelOptions]="{ standalone: true }"
        [(ngModel)]="fournisseur.adresse.rue"
      />
    </div>
    <div class="form-group">
      <label>code postal:</label>
      <input
        class="form-control"
        [ngModelOptions]="{ standalone: true }"
        [(ngModel)]="fournisseur.adresse.codePostal"
      />
    </div>
    <div class="form-group">
      <label>ville:</label>
      <input
        class="form-control"
        [ngModelOptions]="{ standalone: true }"
        [(ngModel)]="fournisseur.adresse.ville"
      />
    </div>
    <div>
      <button type="submit" class="btn btn-outline-success">enregistrer</button>
      <a
        [routerLink]="['/fournisseurs']"
        routerLinkActive="active"
        class="btn btn-ouline-danger"
        >annuler</a
      >
    </div>
  </form>
</div>
