<div>
  <form (ngSubmit)="save()" [formGroup]="form">
    <div class="form-group">
      <label>id:</label>
      <input
        class="form-control"
        name="id"
        [formControl]="idCtrl"
        readonly
        placeholder="generation automatique"
      />
    </div>
    <div class="form-control">
      <label>civilite</label>
      <select class="form-control" name="civilite" [formControl]="civiliteCtrl">
        <option value="M">monsieur</option>
        <option value="MLLE">mademoiselle</option>
        <option value="MME">madame</option>
      </select>
    </div>
    <div class="form-group">
      <label>prenom:</label>
      <input class="form-control" name="prenom" [formControl]="prenomCtrl" />
    </div>
    <div class="form-group">
      <label>nom:</label>
      <input class="form-control" name="nom" [formControl]="nomCtrl" />
    </div>
    <div class="form-group">
      <label>date de naissance:</label>
      <input
        type="date"
        class="form-control"
        name="dateNaissance"
        [formControl]="dateNaissanceCtrl"
      />
    </div>
    <div class="form-group">
      <label>commentaire:</label>
      <textarea
        class="form-control"
        name="commentaire"
        [formControl]="commentaireCtrl"
      ></textarea>
    </div>
    <div class="form-group">
      <label>contact:</label>
      <input
        type="email"
        class="form-control"
        name="contact"
        [formControl]="contactCtrl"
      />
      <div
        class="alert alert-danger"
        *ngIf="contactCtrl.dirty && contactCtrl.hasError('mailExist')"
      >
        mail deja pris
      </div>
    </div>
    <div class="form-group">
      <label>numero:</label>
      <input
        type="number"
        class="form-control"
        name="numero"
        [formControl]="numeroCtrl"
      />
    </div>
    <div class="form-group">
      <label>rue:</label>
      <input class="form-control" name="rue" [formControl]="rueCtrl" />
    </div>
    <div class="form-group">
      <label>code postal:</label>
      <input
        class="form-control"
        name="codePostal"
        [formControl]="codePostalCtrl"
      />
    </div>
    <div class="form-group">
      <label>ville:</label>
      <input class="form-control" name="ville" [formControl]="villeCtrl" />
    </div>
    <div>
      <button
        type="submit"
        class="btn btn-outline-success"
        [disabled]="form.invalid"
      >
        enregistrer
      </button>
      <a
        [routerLink]="['/fournisseurs']"
        routerLinkActive="active"
        class="btn btn-ouline-danger"
        >annuler</a
      >
    </div>
  </form>
</div>
